.faculty_container
    width: 66%
    .card
        float: left
        width: 33%
        text-align: center
        padding: 40px 20px
        .faculty_image
            margin: 0 auto 8px
            border: 1px solid #fff
            box-shadow: 0 0 0 1px rgba(0,0,0,.2)
            width: 120px
        .faculty_basic
            line-height: 18px
            span
                display: block
                margin: 1px
                &.name
                    font-weight: bold
                &.title
                &.email
                &.phone